<%- include('../partials/sidebar') %>


  <div class="container">
    <h2 class="mb-4">Category Management</h2>

    <table class="table table-bordered table-hover shadow-sm bg-white">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Icon</th>
          <th>Image</th>
          <th>Veg Type</th>
          <th>Status</th>
          <th>Created At</th>
          <th>Updated At</th>
          <th>Actions</th>
        </tr>
      </thead>
     
    </table>
  </div>
<%- include('../partials/footer') %>
